header{
	background: #BBBBBB;
}
.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}
nav{
	position: absolute;
	top: 110px;
	right: 0;
}
nav li{
	display: inline;
	margin: 0 0 0 15px;
}
nav a{
	color: #000000;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}
form{
	margin: 40px;
}
.input-padrao{
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}
main{
	width: 940px;
	margin: 0 auto;
}

form{
	margin: 40px 0;
}
form label, form legend{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
	
}
.checkbox{
	margin: 20px 0;
	border-radius: 15px;
}
.enviar{
	width:60%;
	padding: 15px 0;
	background: gray;
	border-radius: 15px;
	font-weight: bold;
	font-size: 14px;
	border: none;
	transition: 1s all;
	cursor: pointer;

}
.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}